.modal{
    background: rgba(61, 61, 61, 0.91);
    position: absolute;
        top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box{
    width: 307px;
    height: 301px;
    background: linear-gradient(43.98deg, #AEAEAE 2.67%, #E5E5E5 33.32%, #D2D2D2 69.35%, #FFFFFF 100%);
    border: 1px solid #00FFC2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 40px;
}
