.player{
    display: flex;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 20px 60px;
    position: relative;
    text-transform: capitalize;
    font-size: 18px;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: solid silver 1px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border: solid silver 1px;
}

.player-ready {
    position: absolute;
    right: 16px;
}
.player-ready svg{
    height: 32px;
    width: 32px;
}

.current-player svg{
    fill: #8f8f8f;
    height: 24px;
    width: 24px;
}
.current-player {
    position: absolute;
    left: 16px;
}