.player{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px 5px;
    border: solid silver 1px;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px 20px;
    border: solid silver 1px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    border: solid silver 1px;
}