
/*$color1: rgba(161, 232, 204, 1);*/
/*$color2: rgba(73, 81, 89, 1);*/
/*$color3: rgba(239, 62, 54, 1);*/
/*$color4: rgba(20, 189, 235, 1);*/
/*$color5: rgba(234, 234, 234, 1);*/


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Teen, sans-serif;
}

.app-holder{
    display: flex;
    flex-wrap: wrap;
}

.app{
    border: 1px solid black;
    display: flex;
    width: 400px;
    height: 100vh;
    position: relative;
    flex-direction:column;
    /*transform: scale(0.5);*/
    /*background-image:*/
            /*url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2NMKL/ty4ADMIIkF3SqbsYmP+gkAayXGgfe8HOVAAAAAElFTkSuQmCC),*/
            /*linear-gradient(to right top, #730e88, #005ab4, #006385, #662ea8, #849e83);*/
    background: linear-gradient(209.88deg, #00A57D 0.89%, #86C3B4 50.27%, rgba(36, 15, 80, 0.74) 99.29%);
}


.screen-title{
    padding: 8px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(20, 189, 235, 1);
    font-size: 18px;
    color: white;
}

.footer-btn{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(239, 62, 54, 1);
    margin: 8px;
    color: white;
    padding:15px 5px;
}


/*start new game*/
/*start new game*/
/*start new game*/

.form-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.input-title{
    font-size: 18px;
    padding: 8px;
    margin: 8px;
}

.name-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}


/*Voting Screen*/
/*Voting Screen*/
/*Voting Screen*/
.draw-game-text{
    padding: 8px;
    margin: 8px auto;
    background-color: #202020;
    margin-bottom: 0;
    padding-bottom: 4px;
    color: #f6f6f6;
}

.drawn-players{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 8px;
    justify-content: center;
}

.player-draw{
    padding: 8px;
    margin: 4px;
    background: #f0f0f0;
    text-transform: capitalize;
}

.react-countdown-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%!important;
    margin-bottom: 8px;
}

.winner-text{
    position: fixed;
    bottom: 0;
    padding: 16px;
    background: #484654;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 22px;
}
