
/*$color1: rgba(161, 232, 204, 1);*/
/*$color2: rgba(73, 81, 89, 1);*/
/*$color3: rgba(239, 62, 54, 1);*/
/*$color4: rgba(20, 189, 235, 1);*/
/*$color5: rgba(234, 234, 234, 1);*/


*{
  margin:0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.app-holder{
  display: flex;
  flex-wrap: wrap;
}

.app{
  border: 1px solid black;
  display: flex;
  width: 400px;
  height: 100vh;
  position: relative;
  flex-direction:column;
  padding-top: 60px;
  transform: scale(0.5);
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #32A287;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
;
}

.screen-title{
  padding: 8px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #187795;
  color: white;
}

.games{
  overflow-y: scroll;
  padding-bottom: 50px;
}

.game{
  display: flex;
  font-size: 18px;
  justify-content: center;
  padding: 8px;
  margin: 8px;
  border: solid #bcbcbc 1px;
  margin-bottom: 16px}

.footer-btn{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: rgba(73, 81, 89, 1);
  color: white;
  padding:15px 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}


/*start new game*/
/*start new game*/
/*start new game*/

.form-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.input-text-box{
  margin: 8px;
  padding: 16px;
  font-size: 18px;
  width: 260px;
  border: 1px solid #F46036;
  color: #3c3c3c;
}

.input-title{
font-size: 18px;
  padding: 8px;
  margin: 8px;
}

.name-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}


/*Voting Screen*/
/*Voting Screen*/
/*Voting Screen*/
.draw-game-text{
  padding: 8px;
  margin: 8px auto;
  background-color: #202020;
  margin-bottom: 0;
  padding-bottom: 4px;
  color: #f6f6f6;
}

.drawn-players{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 8px;
  justify-content: center;
}

.player-draw{
  padding: 8px;
  margin: 4px;
  background: #f0f0f0;
  text-transform: capitalize;
}

.react-countdown-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%!important;
  margin-bottom: 8px;
}

.winner-text{
  position: fixed;
  bottom: 0;
  padding: 16px;
  background: #484654;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 22px;
}