
@font-face {
    font-family: "Carbon";
    src: url("./assets/fonts/carbon/carbon.ttf");
}

@font-face {
    font-family: "CarbonV2";
    src: url("./assets/fonts/carbon/carbon-phyber.ttf");
}

@font-face {
    font-family: "Teen";
    src: url("./assets/fonts/teen/teen.ttf");
}

@font-face {
    font-family: "TeenBold";
    src: url("./assets/fonts/teen/teen-bold.ttf");
}
